* {
  margin: 0;
  padding: 0;
}

.image{
  image-position: top center;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
}

#outer {
  position: relative;
  margin: 10px 200px;

  #inner {
    background-color: #f3f3f3;
    color: #663399;
    padding: 15px 25px;
    max-width: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.footer {
    height: 36px;
    width: 100%; // Don't change
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-color: #eb3529;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}

.footer_contents {
    height:24px;
    width: 1000px;
    margin:auto;
    color: #FFF;
}

.footer_contents a {
  color: #AAF;
}

#product-title {
  font-family: Arial, serif;
  font-size: 140%;
  font-weight: 600;
  text-align: center;
  color: black;
  padding: 40px 0px 20px 0px;
}

#shortdescription{
  font-family: Arial, serif;
  font-size: 210%;
  font-weight:600;
  text-align: center;
  color: black;
}

#description{
  font-family: Arial, serif;
  font-size: 165%;
  text-align: center;
  color: black;
  padding-top: 90px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 40px;
}

#question{
  font-weight:600;
}

.highlight {
  color: #eb3529;
  font-weight: bold;
}

.warning {
  color: #FFCC00;
  font-weight: bold;
}

.special{
  font-style: italic;
}

.button {
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  background-color: #eb3529;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
  border-radius: 4px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button .next:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button .previous:before {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.button:hover .next {
  padding-right: 25px;
}

.button:hover .previous {
  padding-left: 25px;
}

.button:hover .next:after {
  opacity: 1;
  right: 0;
}

.button:hover .previous:before {
  opacity: 1;
  left: 0px;
}

#product-table {
  margin-bottom: 40px;
}

.product-image {
  height: 80px;
}

.form-footer {
  margin-top: 2em;
}


.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #6097BE;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #6097BE;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #eb3529;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}
